@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/dracula.min.css);

pre {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.code-block-container {
  margin-top: -1.5rem;
}

.code-block-copy-btn {
  font-size: 1.2rem;
  padding: 0;
}
