@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/dracula.min.css);

pre {
  border: 0;
  margin: 0 0 1.5rem;
  border-radius: 0;
  color: #FFF;
  padding: 0.5em;
  background: #282a36;

  .hljs {
    padding: 0;
  }
}

.code-block-container {
  margin-top: -1.5rem;
}

.code-block-copy-btn {
  font-size: 1.2rem;
  padding: 0;
}
