@import "colors";

.contact-item-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.contact-item-wrapper {
  .icon {
    margin-bottom: 8px;

    i {
      font-size: 36px;
      color: $color-widget-title;
    }
  }
}
