@import "colors";

.btn-sn {
  color: #FFF !important;
  background-color: $color-widget-title;

  &:hover {
    background-color: lighten($color-widget-title, 5%);
  }
}

.btn-common {
  color: $color-bg;

  &:hover {
    color: lighten($color-bg, 20%);

    i:not(&.button-with-icon) {
      margin-left: 2px;
    }
  }
}

.btn-more {
  text-decoration: none;
  padding-left: 0;
}

.btn-with-icon .icon {
  margin-left: 0.75rem;
}
