@import "colors";

* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  background-color: $color-bg;
}

a {
  color: $color-link;

  &:hover {
    color: lighten($color-link, 10%);
  }
}

img {
  width: auto;
}

p {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  color: #4f4f4f;
  line-height: 24px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.container-skinny {
  width: 30%;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.section {
  padding-top: 0;

  .section-title {
    margin: 0 -15px 30px -15px;
    margin-top: 0;
    padding: 15px;
    background-color: #960e0e;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;

    .icon {
      margin-left: 0.75rem;
    }
  }
}

#content {
  padding: 6px 0 20px 0;

  @media (max-width: 480px) and (min-width: 320px) {
    &.single-post {
      padding-top: 6px;
    }
  }
}

.bl {
  border-left: 0;
  border-right: 0;
}

.loading-spinner {
  color: $color-widget-title;
  display: block;
  text-align: center;
  margin: 10px 0;
}

article {
  background: #fff;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.36);
}

article img {
  max-width: 100%;

  &.center {
    display: block;
    margin: 0 auto;
  }
}

article a {
  color: $color-bg;
  text-decoration: underline;
  transition: none;

  &:hover {
    color: lighten($color-bg, 20%);
    text-decoration: underline;
  }
}

.navbar {
  margin-bottom: 0;
  border: 0;
}
