.navbar-intimate .navbar-nav > li > a {
  display: inline-block;
  margin-left: 32px;
  margin-right: 0;
  padding: 20px 0 0px 0;
  
  &.active {
    color: #ec483b;
    border-bottom: 4px solid #ec483b;
  }
  
  .icon {
    font-size: 8px;
    margin-left: 0.25rem;
    vertical-align: text-top;
  }
}

.navbar-intimate {
  .separator {
    border-left: 1px solid #e6e6e6;
    margin-left: 16px;
    & + a {
      margin-left: 16px !important;
    }
  }
}
