@import "colors";
$color-nav-active: #FFF;

.navbar-intimate .navbar-nav > li > a {
  color: #FFF;
  display: inline-block;
  margin-left: 26px;
  margin-right: 0;
  padding: 20px 0 20px 0;
  border-bottom: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  &.active,
  &:hover,
  &:focus {
    color: $color-nav-active;
    border-bottom: 0;

    .icon {
      opacity: 1;
    }
  }

  .icon {
    margin-left: 0.5rem;
    opacity: 0.3;
  }
}

.navbar-collapse {
  background-color: #960e0e;
}

.nav {
  padding-right: 15px;
}

.navbar-intimate {
  background-color: $color-bg;

  .separator {
    margin-left: 16px;

    &:after {
      content: "\2022";
      color: #FFF;
    }

    & + a {
      margin-left: 16px !important;
    }
  }
}
