@import "colors";
$color-nav-active: #FFF;

.navbar-intimate .navbar-nav > li {
  display: inline-block;
}

.navbar-intimate .navbar-nav > li > a,
.navbar-intimate .navbar-nav > li > .anchor {
  color: #FFF;
  display: inline-block;
  margin-left: 26px;
  margin-right: 0;
  padding: 20px 0 20px 0;
  border-bottom: 0;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 20px 0 0 0;
  }

  @media (max-width: 767px) {
    font-size: 15px;
    padding: 20px 0 0 0;
  }

  &.active,
  &:hover,
  &:focus {
    color: $color-nav-active;
    border-bottom: 0;

    .icon {
      opacity: 1;
    }
  }

  .icon {
    margin-left: 0.5rem;
    opacity: 0.3;
    transition: opacity 0.1s;
  }
}

.navbar-collapse {
  background-color: #960e0e;
}

.nav {
  padding-right: 15px;
}

.navbar-intimate {
  background-color: $color-bg;

  .separator {
    margin-left: 16px;

    &:after {
      content: "\2022";
      color: #FFF;
    }

    & + a {
      margin-left: 16px !important;
    }
  }
}

.dropdown-menu {
  background-color: $color-widget-title;

  .icon {
    float: right;
    padding-right: 30px;
  }
}

.dropdown .dropdown-menu > li > a {
  color: #FFF;
  border-bottom: 0;

  &:hover {
    color: #FFF;
    background-color: lighten($color-widget-title, 5%);
  }
}
