@import "colors";

.blog-article {
  padding: 15px;
}

.blog-title {
  line-height: 2.2rem;
  font-size: 2.4rem;
}

.blog-title a {
  color: #000;

  &:hover {
    color: lighten(#000, 10%);
    text-decoration: underline;
  }
}

.blog-item-wrap {
  .entry-meta {
    margin-bottom: 14px;

    .meta-part {
      color: #4f4f4f;
      font-size: 14px;

      .icon {
        margin-right: 5px;
      }
    }
  }
}

.post-content {
  p:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.feature-inner {
  margin: 0 -15px 30px -15px;

  img {
    width: 100%;
  }
}

