.portfolio img {
  width: 100%;
}

.social-links {
  text-align: center;
}

.social-links a {
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}

.project-link {
  display: block;
  margin-bottom: 0;
  font-size: 20px;
  
  img {
    height: 16px;
    width: auto;
    margin-right: 6px;
  }
}

.project-repo-img {
  float: right;
  padding-top: 4px;
}

.project-shield {
  display: inline-block;
  height: 20px;
  width: auto;
  margin-right: 4px;
}

.tag i {
  display: inline-flex;
  color: #848484;
  font-size: 16px;
  margin-right: 5px;
  font-style: normal;
}
