@import "colors";

.widget-profile .image {
  margin-bottom: 40px;
}

.widget-profile .info .name {
  text-align: center;
}

.widget-profile .info {
  text-align: left;
}

.widget-title {
  margin-top: 0;
  background-color: $color-widget-title;
  color: #FFF;

  .icon {
    float: right;
  }
}

.widget-inner {
  padding: 0 20px 20px;
}
