.widget-profile .image {
  margin-bottom: 40px;
}

.widget-profile .info .name {
  text-align: center;
}

.widget-profile .info {
  text-align: left;
}

.widget-title {
  background-color: #960e0e;
  color: #FFF;
}