@import "~react-github-stream/dist/index.css";

@import "colors";
@import "widgets";
@import "forms";
@import "nav";
@import "hero";
@import "post";
@import "social";
@import "footer";
@import "layout";
@import "editor";
@import "about";
@import "code";
@import "gist";

body {
  font-size: 16px;
}

a {
  color: $color-link;

  &:hover {
    color: lighten($color-link, 10%);
  }
}

img {
  width: auto;
}
