<!DOCTYPE html>
<html>
    <head>
        <title>headzoo.io</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" media="screen" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="mount"></div>
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
