<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html lang="en" class="no-js">
<![endif]-->
<html lang="en">
<head>
    <title>Intimate - Portfolio Single</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Page Description and Author -->
    <meta content="Intimate - Bootstrap HTML5 Blog Template" name=
    "description">
    <meta content="GrayGrids" name="author"><!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" madia="screen" rel="stylesheet" type=
    "text/css"><!-- Font Icon Css -->
    <link href="fonts/font-awesome.min.css" madia="screen" rel="stylesheet"
    type="text/css">
    <link href="fonts/intimate-fonts.css" madia="screen" rel="stylesheet" type=
    "text/css"><!-- Main Css Styles -->
    <link href="css/main.css" madia="screen" rel="stylesheet" type="text/css">
    <!-- Owl Carousel -->
    <link href="extras/owl/owl.carousel.css" media="screen" rel="stylesheet"
    type="text/css">
    <link href="extras/owl/owl.theme.css" media="screen" rel="stylesheet" type=
    "text/css">
    <link href="extras/animate.css" media="screen" rel="stylesheet" type=
    "text/css">
    <link href="extras/lightbox.css" media="screen" rel="stylesheet" type=
    "text/css">
    <link href="extras/slicknav.css" media="screen" rel="stylesheet" type=
    "text/css"><!-- Responsive Css Styles -->
    <link href="css/responsive.css" madia="screen" rel="stylesheet" type=
    "text/css">
</head>
<body>
    <!-- Header Section Start -->
    <header class="site-header">
        <nav class="navbar navbar-default navbar-intimate role="
        data-offset-top="50" data-spy="affix">
            <div class="container">
                <div class="navbar-header">
                    <!-- Start Toggle Nav For Mobile -->
                     <button class="navbar-toggle" data-target="#navigation"
                    data-toggle="collapse" type="button"><span class=
                    "sr-only">Toggle navigation</span> <span class=
                    "icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                    <div class="logo">
                        <a class="navbar-brand" href="index.html"><i class=
                        "ico-3dglasses"></i></a>
                    </div>
                </div><!-- Stat Search -->
                <div class="side">
                    <a class="show-search"><i class="ico-search"></i></a>
                </div><!-- Form for navbar search area -->
                <form class="full-search">
                    <div class="container">
                        <div class="row">
                            <input class="form-control" placeholder="Search"
                            type="text"> <a class="close-search"><span class=
                            "ico-times"></span></a>
                        </div>
                    </div>
                </form><!-- Search form ends -->
                <!-- Navigation Start -->
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown dropdown-toggle">
                            <a data-toggle="dropdown" href=
                            "index.html">Home</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="fullscreen-slider.html">Home -
                                    Fullscreen Slider</a>
                                </li>
                                <li>
                                    <a href="carousel-slider.html">Home - Post
                                    Carousel</a>
                                </li>
                                <li>
                                    <a href="index.html">Home - Default</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-toggle active">
                            <a data-toggle="dropdown" href="#">Portfolio</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="portfolio-col-3.html">Portfolio 3
                                    column</a>
                                </li>
                                <li>
                                    <a href="portfolio-col-4.html">Portfolio 4
                                    column</a>
                                </li>
                                <li class="active">
                                    <a href="portfolio-item.html">Single
                                    Project</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-toggle">
                            <a data-toggle="dropdown" href="#">Blog</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="blog.html">Blog View</a>
                                </li>
                                <li>
                                    <a href="single.html">Single Post</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="#">Download</a>
                        </li>
                    </ul>
                </div><!-- Navigation End -->
            </div>
        </nav><!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
            <li>
                <a href="index.html">Home</a>
                <ul>
                    <li>
                        <a href="fullscreen-slider.html">Home - Fullscreen
                        Slider</a>
                    </li>
                    <li>
                        <a href="carousel-slider.html">Home - Post Carousel</a>
                    </li>
                    <li>
                        <a href="index.html">Home - Default</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">Portfolio</a>
                <ul>
                    <li>
                        <a href="portfolio-col-3.html">Portfolio 3 column</a>
                    </li>
                    <li>
                        <a href="portfolio-col-4.html">Portfolio 4 column</a>
                    </li>
                    <li class="active">
                        <a href="portfolio-item.html">Single Project</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Blog</a>
                <ul>
                    <li>
                        <a href="blog.html">Blog View</a>
                    </li>
                    <li>
                        <a href="single.html">Single Post</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
            <li>
                <a href="#">Download</a>
            </li>
        </ul><!-- Mobile Menu End -->
    </header><!-- Header Section End -->
    <!-- Page header Section Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="entry-title">Portfolio Single</h2>
                    <div class="breadcrumb">
                        <a href="#"><i class="icon-home"></i> Home</a>
                        <span class="crumbs-spacer"><i class=
                        "ico-fast-forward"></i></span> <span class=
                        "current">Portfolio</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Page header Section End -->
    <!-- Content Start -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Gallery -->
                    <div class="thumbs-gallery">
                        <div class="touch-slider owl-carousel">
                            <div class="item">
                                <a data-lightbox="roadtrip" href=
                                "img/blog/blog1-large.jpg"><img alt="" src=
                                "img/blog/blog1-large.jpg"> <span><i class=
                                "fa fa-expand"></i></span></a>
                            </div>
                            <div class="item">
                                <a data-lightbox="roadtrip" href=
                                "img/blog/blog2-large.jpg"><img alt="" src=
                                "img/blog/blog2-large.jpg"> <span><i class=
                                "fa fa-expand"></i></span></a>
                            </div>
                            <div class="item">
                                <a data-lightbox="roadtrip" href=
                                "img/blog/blog3-large.jpg"><img alt="" src=
                                "img/blog/blog3-large.jpg"> <span><i class=
                                "fa fa-expand"></i></span></a>
                            </div>
                        </div>
                    </div><!-- End Gallery -->
                </div>
                <div class="col-md-6">
                    <h2 class="title1">Project Description</h2>
                    <div class="description-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Incidunt, in accusamus necessitatibus, libero
                        enim asperiores maxime ab adipisci nemo quaerat modi,
                        deleniti a odit assumenda consequatur. Esse eos beatae
                        debitis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Accusamus eos nihil temporibus, Quam sint
                        blanditiis atque dicta eos modi vel reiciendis.</p>
                    </div><!-- Social Share -->
                    <div class="share-socials">
                        <span class="social-share-btn">Share :</span>
                        <div class="social-links">
                            <a class="twitter social-link" data-placement="top"
                            data-toggle="tooltip" href="#" title=
                            "Twitter"><i class="fa fa-twitter"></i></a>
                            <a class="facebook social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Facebook"><i class="fa fa-facebook"></i></a>
                            <a class="google-plus social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Google+"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "LinkedIn"><i class="fa fa-linkedin"></i></a>
                            <a class="dribbble social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Dribbble"><i class="fa fa-dribbble"></i></a>
                            <a class="pinterest social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div><!-- End Social Share -->
                    <span class="space"></span> <a class="btn btn-border" href=
                    "#"><i class="fa fa-eye"></i> Live Preview</a>
                </div>
            </div>
        </div>
        <div class="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Tabs Start -->
                        <div class="tabs-style-1 vertical">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab1-vertical"
                                    role="tab"><i class="fa fa-laptop"></i>
                                    Details</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab2-vertical"
                                    role="tab"><i class="fa fa-eye"></i>
                                    Features</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab3-vertical"
                                    role="tab"><i class=
                                    "fa fa-info-circle"></i> Stats</a>
                                </li>
                            </ul><!-- Tab content -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id=
                                "tab1-vertical" role="tabpanel">
                                    <ul class="list-details">
                                        <li><i class=
                                        "fa fa-check"></i><b>Category:</b> Web
                                        design, Graphic design</li>
                                        <li><i class=
                                        "fa fa-check"></i><b>Client:</b> Jon
                                        Example</li>
                                        <li><i class=
                                        "fa fa-check"></i><b>Date:</b> October
                                        24, 2015</li>
                                        <li><i class="fa fa-check"></i><b>Due
                                        Date:</b> November 28, 2015</li>
                                        <li><i class=
                                        "fa fa-check"></i><b>Tags:</b>
                                        Identity, Web, Print</li>
                                        <li><i class="fa fa-check"></i><b>Added
                                        By:</b> John Martin.</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tab2-vertical">
                                    <ul class="list1 clearfix">
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Multiple Layout</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Awesome Shortcodes</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Browser Compatibility</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i> Easy
                                        to Edit Animations</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Parallax Effect</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Responsive Design</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Multiple Layout</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Awesome Shortcodes</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Browser Compatibility</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i> Easy
                                        to Edit Animations</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Parallax Effect</li>
                                        <li><i class=
                                        "fa fa-caret-square-o-right"></i>
                                        Responsive Design</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tab3-vertical">
                                    <div class="counter">
                                        <div class=
                                        "col-md-3 col-sm-3 col-xs-12">
                                            <div class=
                                            "counter-item wow fadeInDown"
                                            data-animation-delay="1200">
                                                <span class="icon"><i class=
                                                "fa fa-user"></i></span>
                                                <div class="timer value"
                                                data-speed="4000" data-to=
                                                "12529"></div>
                                                <h4 class="title">
                                                Favourites</h4>
                                            </div>
                                        </div>
                                        <div class=
                                        "col-md-3 col-sm-3 col-xs-12">
                                            <div class="counter-item">
                                                <span class="icon"><i class=
                                                "fa fa-heart"></i></span>
                                                <div class="timer value"
                                                data-speed="4000" data-to=
                                                "152452">
                                                    152452
                                                </div>
                                                <h4 class="title">Likes</h4>
                                            </div>
                                        </div>
                                        <div class=
                                        "col-md-3 col-sm-3 col-xs-12">
                                            <div class="counter-item">
                                                <span class="icon"><i class=
                                                "fa fa-code"></i></span>
                                                <div class="timer value"
                                                data-speed="4000" data-to=
                                                "145845">
                                                    145845
                                                </div>
                                                <h4 class="title">Views</h4>
                                            </div>
                                        </div>
                                        <div class=
                                        "col-md-3 col-sm-3 col-xs-12">
                                            <div class="counter-item">
                                                <span class="icon"><i class=
                                                "fa fa-paper-plane"></i></span>
                                                <div class="timer value"
                                                data-speed="4000" data-to=
                                                "352642">
                                                    352642
                                                </div>
                                                <h4 class="title">Peports</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Tabs end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="container">
                <div class="row">
                    <!-- Portfolio Recent Projects -->
                    <div id="portfolio-list">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <div class="portfolio-img">
                                    <img alt="" src="img/portfolio/img-1.jpg">
                                    <div class="portfolio-item-content">
                                        <h3 class="field-content"><a href=
                                        "#">Cras Commodo Ets</a></h3>
                                    </div>
                                    <div class="icon-zoom-in">
                                        <a class="link" href=
                                        "portfolio-item.html"><i class=
                                        "fa fa-link"></i></a> <a class="zoom"
                                        data-lightbox="roadtrip" href=
                                        "img/portfolio/img-1.jpg"><i class=
                                        "fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <div class="portfolio-img">
                                    <img alt="" src="img/portfolio/img-2.jpg">
                                    <div class="portfolio-item-content">
                                        <h3 class="field-content"><a href=
                                        "#">Quarterly Musashino</a></h3>
                                    </div>
                                    <div class="icon-zoom-in">
                                        <a class="link" href=
                                        "portfolio-item.html"><i class=
                                        "fa fa-link"></i></a> <a class="zoom"
                                        data-lightbox="roadtrip" href=
                                        "img/portfolio/img-1.jpg"><i class=
                                        "fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <div class="portfolio-img">
                                    <img alt="" src="img/portfolio/img-3.jpg">
                                    <div class="portfolio-item-content">
                                        <h3 class="field-content"><a href=
                                        "#">Non Mattis Tortor</a></h3>
                                    </div>
                                    <div class="icon-zoom-in">
                                        <a class="link" href=
                                        "portfolio-item.html"><i class=
                                        "fa fa-link"></i></a> <a class="zoom"
                                        data-lightbox="roadtrip" href=
                                        "img/portfolio/img-1.jpg"><i class=
                                        "fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Portfolio Recent Projects -->
                </div>
            </div>
        </div>
    </div><!-- Content End -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-inner text-center">
                        <div class="social-links">
                            <a class="twitter social-link" data-placement="top"
                            data-toggle="tooltip" href="#" title=
                            "Twitter"><i class="fa fa-twitter"></i></a>
                            <a class="facebook social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Facebook"><i class="fa fa-facebook"></i></a>
                            <a class="google-plus social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Google+"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "LinkedIn"><i class="fa fa-linkedin"></i></a>
                            <a class="dribbble social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Dribbble"><i class="fa fa-dribbble"></i></a>
                            <a class="pinterest social-link" data-placement=
                            "top" data-toggle="tooltip" href="#" title=
                            "Pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Download</a>
                            </li>
                        </ul>
                        <div class="copyright">
                            <p>Copyright © 2016 IntimateBlog. Designed and Developed by
                            <a href="http://graygrids.com/">GrayGrids</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Footer End -->
    <!-- js  -->
    <script src="js/jquery-min.js" type="text/javascript">
    </script> 
    <script src="js/bootstrap.min.js" type="text/javascript">
    </script> 
    <script src="js/owl.carousel.js" type="text/javascript">
    </script> 
    <script src="js/jquery.mixitup.min.js" type="text/javascript">
    </script> 
    <script src="js/lightbox.js" type="text/javascript">
    </script> 
    <script src="js/plugin.js" type="text/javascript">
    </script> 
    <script src="js/jquery.slicknav.js" type="text/javascript">
    </script> 
    <script src="js/count-to.js" type="text/javascript">
    </script> 
    <script src="js/jquery.appear.js" type="text/javascript">
    </script> 
    <script src="js//main.js" type="text/javascript">
    </script>
</body>
</html>